
.block1 {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: blue;
    
}
.block2 {
    position: absolute;
    width: 50px;
    height: 60px;
    background-color: red;
}
